build
docs/_build/
docs/reference/
.idea/
__pycache__/

src/gtsimulation/interaction/_build_config.py
src/gtsimulation/interaction/Atmosphere
src/gtsimulation/interaction/matter_layer*
src/gtsimulation/interaction/DecayGenerator

RunGT_*
