build
docs/_build/*
.idea/
__pycache__/

src/gtsimulation/Interaction/_build_config.py
src/gtsimulation/Interaction/Atmosphere
src/gtsimulation/Interaction/MatterLayer
src/gtsimulation/Interaction/DecayGenerator

RunGT_*
